.create-post button {
  margin-bottom: 24px;
}
.create-post input {
  font-size: 2.5rem;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--gray);
}
.create-post textarea {
  width: 100%;
  min-height: 100vh;
  margin-top: 32px;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--gray);
  resize: none;
}
.create-post .text {
  display: flex;
  gap: 20px;
}
.create-post .add {
  margin-top: 24px;
  color: var(--gray);
  font-size: 3rem;
  cursor: pointer;
}
.create-post .image {
  width: 100%;
  height: 242px;
  object-fit: cover;
}
.create-post .files {
  border-left: 1px solid var(--gray);
  padding-left: 16px;
  align-self: center;
}
.create-post .files label {
  padding: 4px;
  border: 1px solid var(--blue);
  display: inline-block;
  margin-right: 8px;
  border-radius: 100%;
  height: 43px;
  width: 43px;
}
.create-post .files i {
  display: inline-block;
  color: var(--blue);
  margin-top: 5px;
}

@media (max-width: 550px) {
  .create-post {
    padding: 8px;
  }
  .create-post input {
    font-size: 2rem;
  }
  .create-post .text {
    gap: 5px;
  }
  .create-post .files label {
    width: 30px;
    height: 30px;
  }
  .create-post .add {
    font-size: 1.5rem;
  }
  .create-post .files i {
    font-size: 1rem;
    margin: 0;
  }
}
