.google-button {
  margin: 0 auto;
  background: #5b8dd7;
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  border: 1px solid #f5f5f5;
}
.google-icon {
  padding: 8px;
  width: 40px;
  height: 40px;
  background: #fff;
}
.google-text {
  padding: 10px;
}

/* dark mode  */
.App.dark .google-button {
  border-color: var(--dark-100);
}
