.comment-form {
  width: 100%;
}
.comment-form input {
  padding: 10px;
  background: var(--smoke);
  border-radius: 20px;
  border: none;
  outline-color: #f5f5f5;
  min-width: 100%;
}
.comment-form svg {
  color: var(--gray);
  width: 30px;
}

/* dark mode  */
.App.dark .comment-form input {
  background: var(--dark-200);
  outline-color: var(--dark-100);
  color: #fff;
}
