.navbar {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  align-items: center;
  background: #fff;
  border: 1px solid #f5f5f5;
}
.navbar .logo {
  display: flex;
  align-items: center;
  margin-right: 24px;
  gap: 10px;
}
.navbar ul {
  display: flex;
  align-items: center;
  background: var(--smoke);
  border-radius: 5px;
  padding: 8px;
}
.navbar .navlink {
  display: inline-block;
  color: var(--black);
  padding: 5px 16px;
  font-size: 14px;
  border-radius: 3px;
}
.navbar .navlink.active {
  background: #fff;
}
.navbar i {
  font-size: 1.5rem;
}
.navbar button i {
  font-size: 1rem;
}
.navbar .more {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar-option .action {
  background: var(--smoke);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 8px;
  border: none;
  cursor: pointer;
}
.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  gap: 10px;
  cursor: pointer;
  padding-left: 16px;
}
.navbar .user span {
  font-size: 16px;
}
.navbar .burger {
  margin-right: 16px;
  border: 1px solid #f5f5f5;
  background: var(--smoke);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.navbar .burger i {
  font-size: 1.3rem;
}

/* dark mode */
.App.dark .navbar {
  background: var(--dark-300);
  border: 1px solid var(--dark-100);
  color: #fff;
}
.App.dark .navbar-option .action {
  background: var(--dark-200);
}
.App.dark .navbar-option .action svg {
  color: #fff;
}
.App.dark .navbar ul {
  background: var(--dark-200);
}
.App.dark .navbar ul .navlink {
  color: #fff;
}
.App.dark .navbar ul .navlink.active {
  background: var(--dark-100);
  color: #fff;
}
.App.dark .navbar-option button {
  color: #fff;
}
.App.dark .navbar .burger {
  background: var(--dark-400);
  border: 1px solid var(--dark-100);
}

@media (max-width: 890px) {
  .navbar .logo {
    display: none;
  }
}
@media (max-width: 690px) {
  .navbar .user span {
    display: none;
  }
}
@media (max-width: 550px) {
  .navbar {
    padding: 8px;
  }
  .navbar .avatar {
    width: 30px;
    height: 30px;
  }
  /* .navbar .action:nth-child(1) {
    display: none;
    margin: 0;
  }
  .navbar .action {
    margin: 0;
  } */
}
