@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

/* variables */
:root {
  --red: #ff4545;
  --blue: #2a85fe;
  --purple: #a058b3;
  --smoke: #f9f9f9;
  --black: #111;
  --gray: #8d9196;
  --dark-100: #34353e;
  --dark-200: #27282f;
  --dark-300: #1e1f23;
  --dark-400: #17181c;
}

/* base styles */
* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--smoke);
  color: #111;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
p p {
  margin: 0;
  padding: 0;
}
i {
  margin-bottom: -4px;
}

/* layout */
.analytic,
.analytics,
.create-post,
.home,
.settings,
.search,
.post-details,
.bookmark {
  margin: 24px;
}
button {
  cursor: pointer;
}
.btn {
  display: flex;
  align-items: center;
  background: var(--blue);
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff !important;
  gap: 10px;
  transition: all 0.3s ease;
}
.btn:hover {
  color: var(--blue) !important;
  border-color: var(--blue);
  background: #fff;
}

.error,
.msg {
  display: block;
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  font-size: 12px;
}

/* color theme picker */
.App a {
  color: var(--black);
}
.App.dark a,
.App.dark h2 {
  color: #fff;
}
a.color-a058b3.active,
p.color-a058b3,
div.color-a058b3,
button.color-a058b3 {
  color: var(--purple);
}
a.color-ff4545.active,
p.color-ff4545,
div.color-ff4545,
button.color-ff4545 {
  color: var(--red);
}
a.color-2a85fe.active,
p.color-2a85fe,
div.color-2a85fe,
button.color-2a85fe {
  color: var(--blue);
}
.App.dark a.active {
  background: var(--dark-100);
}
